<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" /> -->
            <PatternLayout pattern="%r{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
        <logger name="at.tfr.pfad.util" level="DEBUG"/>
        <logger name="org.jboss.weld" level="INFO"/>
        <logger name="org.apache.deltaspike" level="INFO"/>
    </Loggers>
</Configuration>